/node_modules
/public/hot
/public/storage
/storage/*.key
/public/assets/dashboard
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/resources/assets/lib
/public/storage
todos.txt
itsatsit
resources/views/references
/.settings
/nbproject
()create
todos.txt
origin)
notes.txt
scope.md