   <div class="page animated fadeinright">

   	<div class="hero-header bg-5 animated fadeinright">
   		<div class="hero-title">ToDo</div>
   	</div>

   	<div class="todo animated fadeinright delay-1" id="test1">
   		<p class="todo-element">
   			<input id="todo1" type="checkbox"> <label for="todo1">Go to gym with Mike</label> 
   			<span class="small">9:45 AM</span>
   		</p>

   		<p class="todo-element">
   			<input checked id="todo2" type="checkbox"> <label for="todo2">Back home for lunch</label> <img alt="" src="img/user4.jpg"> 
   			<span class="small">9:45 AM</span>
   		</p>

   		<p class="todo-element">
   			<input checked id="todo3" type="checkbox"> <label for="todo3">Lunch with Jane</label> 
   			<span class="small">9:45 AM</span> <img alt="" src="img/user3.jpg">
   		</p>

   		<p class="todo-element">
   			<input id="todo4" type="checkbox"> <label for="todo4">Work meeting</label> 
   			<span class="small">9:45 AM</span>
   		</p>

   		<p class="todo-element">
   			<input id="todo5" type="checkbox"> <label for="todo5">Cooking for dinner</label> 
   			<span class="small">9:45 AM</span> <img alt="" src="img/user3.jpg">
   		</p>

   		<p class="todo-element">
   			<input id="todo6" type="checkbox"> <label for="todo6">Take kids at swim</label> 
   			<span class="small">9:45 AM</span>
   		</p>

   		<p class="todo-element">
   			<input checked id="todo7" type="checkbox"> <label for="todo7">Back home for lunch</label> <img alt="" src="img/user2.jpg"> <span>9:45 AM</span>
   		</p>

   		<p class="todo-element">
   			<input id="todo8" type="checkbox"> <label for="todo8">Lunch with Jane</label> 
   			<span class="small">9:45 AM</span>
   		</p>
   	</div>

   	<!-- Footer -->
   	<footer class="page-footer primary-color">
   		<div class="container">
   			<div class="row">
   				<div class="col s12">
   					<p class="center-align grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
   					<div class="center-align">
   						<i class="ion-social-facebook m-10 white-text"></i>
   						<i class="ion-social-twitter m-10 white-text"></i>
   						<i class="ion-social-pinterest m-10 white-text"></i>
   						<i class="ion-social-dribbble m-10 white-text"></i>
   					</div>
   				</div>
   			</div>
   		</div>
   		<div class="footer-copyright">
   			<div class="container">
   				2016 Codnauts
   				<a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
   			</div>
   		</div>
   	</footer>
   	
   </div> 
      <!-- End of Page Contents -->